
* {
    font-family: "  ";
    margin: 0px;

}


.bg-container {
    background-color: #ffffff;


}



@media(orientation:portrait) {
    .bg-sub-container {
        background-color: #000000;
        height: 80px;
        display: flex;
        justify-content: space-between; 
    }



    .box1-nav-items {
        color: white;
        display: flex;
        justify-content: center;
        align-items: center
        display : none;

    }

    .nav-logo {
        height: 66px;
        width: 66px;
        margin-bottom:3px;

    }

    .nav-logo-text {
        font-size: 20px;
        margin-top: 18px ;
        font-family: "Cursive";
        font-weight: bold;
    }


    .box2-nav-items {
        color: #ffffff;
        display: none;
        justify-content: center;
        align-items: center;
        margin: 20px;
        color: red;
    }

    .box2_1-nav-items {
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;

    }

    .nav-font-log {
        font-size: 20px;
        margin-bottom: 18px;
        margin-right: 5px;
        justify-content: flex-end;


    }

    .home-page {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 15px;
        text-align: center;
    }

    .home-page-box1 {
        display: flex;
        flex-direction: column;

    }


    .image_1{
        height:60px;
        width: 150px;

    }

    .home-page-box2 {
        display: flex;
        text-align: center;
        align-self: center;
        justify-content:center;
        background-color: #f6f6f6;
        margin-top: 10px;
        font-size: 14px;
        box-shadow:10px 12px 15px;
        width: 400px;
        margin-bottom: 22px ;

    }

    .home-page-box2_1{
        display: flex;
        flex-direction: column;
        text-align: center; 
        margin: 10px    

    }


    .horizontal-line{
        margin: 5px ;
        border-right:2px solid  #7c7c7c;
    }
    .home-page-box3 {
        display: flex;
        flex-direction: column;
        justify-content:center;
        text-align: center; 

    }


    .text-font-title{
        font-size: 16px;
        font-weight: bold;
        color: #787878;
        text-align: center;
        width: 100%;
        justify-content: center;
        display: flex;
        align-self: center;
        text-align: center;
    }

    .text-font{
        font-family: "Arial";
        font-weight: bold;
        font-size: 18px;
        text-align: center;

    }    

    .home-page-box3_1 {
        display: flex;
        justify-content:center;
        text-align: center;
        flex-wrap: wrap;


    }

    .box3_1_sub{
        background-color:   ;
        text-decoration: none;
        color: black;
        display: flex;
        margin: 10px;
        padding: 20px;
        text-align: center;
        align-self: center;
        justify-content:center;
        background-color: #f6f6f6;
        margin-top: 10px;
        box-shadow:10px 12px 15px black;
        flex-wrap: wrap;
        height: 130px;
        width: 170px;

    }

    .box3_p{
        text-align: center;
        background-color:   ;
        text-decoration: none;
        color: black;
        padding: 10px;
        text-align: center;
        align-self: center;
        justify-content:center;
        flex-wrap: wrap;

    }

    .box-content{
        font-size: 20px;
        padding: 2px;
        padding-top: 22px;
        text-align: center;
        font-family: "Trebuchet MS";
        color: black;
    }

    .marquee{
        background-color: #b9ecec;
        margin-top: 35px;
        color: #048f8f;
    }


    .box-4{
        display: flex;
        justify-content: center;

    }

    .box-4_1_horizontal{
        margin: 5px ;
        border-right:2px solid  #7c7c7c;
    }

    .box-4_1{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-self: center;
        text-align: left  ;
        width:400px;
        margin:20px;
    }


    .box-4_pic{
        background-image:url("https://res.cloudinary.com/djuqhfvux/image/upload/v1706578909/download-removebg-preview_jtlsu9.png");
        height: 372px;
        background-size:280px;
        width: 152px;
        margin-top: 10px;
        display: none;

    }

    .box-4_pic2{
        background-image:url("https://res.cloudinary.com/djuqhfvux/image/upload/v1707006702/VOLKSWAGEN_-_BRADOK___3D__1_-removebg-preview_ye7cef.png");
        height: 242px;
        background-size:126px;
        width: 130px;
        margin-bottom:18px;
        padding: 5px;
    }

    .box-5{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;

    }

    .box-5_1{
        display: flex;

        flex-wrap: wrap;
      justify-content: center;
        text-align: center;
        align-items: center;

        text-align: left;
        font-size: 15px;
    }

    .box-5_1_1{
        display: flex;
        flex-direction: column;
        width: 400px;
    }




    .home-page-Query-logo {
        height: 200px;
        box-shadow: 10px 10px 5px;

    }

    .query-text-home-page {
        margin-bottom:10px;
        font-family: "Cursive";
        font-weight: bold;    
        text-align: center;  
    }

    .home-page-logo {
        height: 400px;
        width: 250px;
    }

    

    .bar {
        font-size: 30px;
        color: #ffffff;
        justify-content:flex-end;
        align-self: flex-end;
        margin-left:170px;        
    }

    .main-nav-bar {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-self: flex-start;

        color: white;
        background-color: #000000;
        height: 500px;
        width: 300px;
        flex-shrink: 3;
        text-align: center;




    }

    .nav-bar-hide {
        display: none;

    }

    .hr {
        color: white;
        font-size: 20px;
        border-width: 2px;
        background-color: white;
    }

    .home-page-portrait {
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
        margin:10px ;
        height: 600px;
    }

    .home-page-logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-self: center;
        text-align: center;
    }


    .home-logo-portrait {
        height: 300px;
        width: 250px;
    }

    .dscription-bottom{
        height: 200px;
        background-color:#000000;
        text-align: center;
        color: #a4a4a4;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .social-Media-icons{
        font-size: 30px;
        color: #a4a4a4;
        margin: 10px        ;
    }

}






@media(orientation:landscape) {
    .bg-sub-container {
        background-color: #000000;
        height: 80px;
        display: flex;
        justify-content: space-between;
    }

    .box1-nav-items {
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .nav-logo {
        height: 78px;
        width: 78px;
        padding: 5px;
        margin-bottom: 3px;
    }

    .nav-logo-text {
        font-size: 28px ;
        margin-top: 10px ;
        font-family: "Cursive";
        font-weight: bold;
    }

    .nav-icon-color{
        color: #ffffff;
        text-decoration:none;
    }

    .box2-nav-items {
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 15px;


    }

    .box2_1-nav-items {
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
        margin-top: 26px;

    }

    .nav-font-log {
        font-size: 20px;
        margin-bottom: 18px;
        margin-right: 5px;


    }

    .home-page {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-top: 15px;
        }

    .home-page-box1 {
        display: flex;
        flex-direction: column;

    }
    .image_1{
        height:80px;
        width: 250px;
        margin: 10px    ;

    }

    .query-text-home-page {
        text-align: center;
        margin-top: 40px;
        font-family: "Cursive";
        font-weight: bold;
    }
    .home-page-box2 {
        display: flex;
        text-align: center;
        justify-content: safe center;
        background-color: #f6f6f6;
        margin-top: 10px;
        box-shadow:10px 12px 15px;

    }

    .home-page-box2_1{
        display: flex;
        flex-direction: column;
        text-align: center; 
        margin: 10px    

    }


    .horizontal-line{
        margin: 5px ;
        border-right:2px solid  #7c7c7c;
    }
    .home-page-box3 {
        display: flex;
        flex-direction: column;
        justify-content:center;
        text-align: center; 

    }


    .text-font-title{
        font-size: 16px;
        font-weight: bold;
        color: #787878;
        text-align: center;
    }

    .text-font{
        font-family: "monospace";
        font-weight: bold;
        font-size: 18px;

    }    

    .home-page-box3_1 {
        display: flex;
        justify-content:center;
        text-align: center;
        overflow-x:scroll;
        flex-wrap: wrap;

    }

    .box3_1_sub{
        background-color:   ;
        text-decoration: none;
        color: black;
        display: flex;
        margin: 10px;
        padding: 20px;
        text-align: center;
        align-self: center;
        justify-content:center;
        background-color: #f6f6f6;
        margin-top: 10px;
        box-shadow:10px 12px 15px black;
        flex-wrap: wrap;
        height: 130px;
        width: 170px;

    }

    .box3_p{
        text-align: center;
        background-color:   ;
        text-decoration: none;
        color: black;
        padding: 10px;
        text-align: center;
        align-self: center;
        justify-content:center;
        flex-wrap: wrap;

    }



    .box-content{
        font-size: 20px;
        padding: 2px;
        padding-top: 22px;
        text-align: center;
        font-family: "Trebuchet MS";
        color: black;

    }

    .marquee{
        background-color: #b9ecec;
        margin-top: 35px;
        color: #048f8f;
    }


    .box-4{
        display: flex;
        justify-content: center;
    }

    .box-4_1_horizontal{
        margin: 5px ;
        border-right:2px solid  #7c7c7c;
    }

    .box-4_1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center  ;
        width:400px;
    }


    .box-4_pic{
        background-image:url("https://res.cloudinary.com/djuqhfvux/image/upload/v1706578909/download-removebg-preview_jtlsu9.png");
        height: 372px;
        background-size:280px;
        width: 152px;
        margin-top: 10px;

    }

    .box-4_pic2{
        background-image:url("https://res.cloudinary.com/djuqhfvux/image/upload/v1707001314/download-removebg-preview_vw44rn.png");
        height: 372px;
        background-size:146px;
        width: 152px;
        margin-bottom:18px;
        padding: 5px;
    }

    .box-5{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;

    }

    .box-5_1{
        display: flex;

        flex-wrap: wrap;
      justify-content: center;
        text-align: center;
        align-items: center;

        text-align: left;
        font-size: 15px;
    }

    .box-5_1_1{
        display: flex;
        flex-direction: column;
        width: 400px;
    }







    .home-page-Query-logo {
        height: 200px;

    }



    .home-page-logo {
        height: 400px;
        width: 250px;

    }

    
    .bar {
        display: none;
    }


    .nav-bar {
        display: none;
    }

    .home-page-portrait {
        display: none;
    }

    .dscription-bottom{
        height: 200px;
        background-color:#000000;
        text-align: center;
        color: #a4a4a4;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .social-Media-icons{
        font-size: 30px;
        color: #a4a4a4;
        margin: 10px        ;
    }


}