


<div class="home-page">
    <div class="home-page-box1">
        <h1 class="query-text-home-page">VersaSphere - Your Comprehensive Lifestyle Platform</h1>
        <p class="text-font-title">which includes</p>
        <p class="text-font">Investment, Liability, Tax, Insurance, Cashflow Planning and more</p>
        <a href=""  ><img class="image_1" src="https://res.cloudinary.com/djuqhfvux/image/upload/v1706997830/Starting_White_Transparent__Game_Start_Switch_Start_Title_Background__Game__Button__Switch_PNG_Image_For_Free_Download-removebg-preview_ghujz3.png"></a>
        <div class="home-page-box2">
            <div class="home-page-box2_1">
                <p class="text-font-title">App Downloads</p>
                <h1 class="text-font">96,000+</h1>

            </div>
            <div class="horizontal-line"></div> 
            <div class="home-page-box2_1">  
                <p style="" class="text-font-title">App Downloads</p>
                <h1 class="text-font">96,000+</h1>

            </div>
        </div>
    </div>
</div>



<div class="home-page-box3">
        <h1 class="query-text-home-page">All-In-One-Hub</h1>
        <p class="text-font-title">Guided by our qualified financial advisors, we offer a holistic perspective that covers all aspects of your personal finances.</p>

</div>

        <div class="home-page-box3_1">
            <div    ><a style="border-left-color: blue; border-style: 16px solid; border-left-width:18px;"  class="box3_1_sub" href=""><p class="box-content">Real-Estate</p></a></div>
            <div><a style="border-left-color:maroon; border-style: 16px solid; border-left-width:18px;" class="box3_1_sub" href=""><p class="box-content">Loans</p></a></div>
            <div><a style="border-left-color: green; border-style: 16px solid; border-left-width:18px;" class="box3_1_sub" href=""><p class="box-content">Insuance</p></a></div>
            <div><a style="border-left-color: red; border-style: 16px solid; border-left-width:18px;" class="box3_1_sub" href=""><p class="box-content">Credit Card</p></a></div>
            <div><a style="border-left-color: yellow; border-style: 16px solid; border-left-width:18px;" class="box3_1_sub" href=""><p class="box-content">Farm to Door</p></a></div>
            <div><a style="border-left-color: violet; border-style: 16px solid; border-left-width:18px;" class="box3_1_sub" href=""><p class="box-content">Programming Taine</p></a></div>
            <div><a style="border-left-color: black; border-style: 16px solid; border-left-width:18px;" class="box3_1_sub" href=""><p class="box-content">Tutorial</p></a></div>
            <div><a style="border-left-color: orange; border-style: 16px solid; border-left-width:18px;" class="box3_1_sub" href=""><p class="box-content">Self Drive Cars</p></a></div>
            <div><a style="border-left-color: pink; border-style: 16px solid; border-left-width:18px;" class="box3_1_sub" href=""><p class="box-content">Music & Decoration</p></a></div>
            <div><a style="border-left-color: brown; border-style: 16px solid; border-left-width:18px;" class="box3_1_sub" href=""><p class="box-content">Printed T-shirt</p></a></div>
        </div>

        <marquee class="marquee " loop="0" behavior="alternate" > | VersaSphere | | Loans |  | Insurances | | Credit Cards |  | Farm to Door | | Programming Taine |  | Tutorials | | Self Drive Cars |  | Music & Decoration | | Printed T-shirts | </marquee>


        <div>
        <h1 class="query-text-home-page">How is it?</h1>
        <p class="text-font-title">Assess, Analyse, Recommend</p>


        <div class="box-4">
            <div class="box-4_pic2">

            </div>

                <div class="box-4_1">
                    <h1 class="query-text-home-page">Undstanding You</h1>
                    <p class="text-font-title">Get your MoneySign® - A Patented Financial Personality Download this Game Start Switch Start Title Background, Game, Button, Switch PNG clipart image with transparent background for free. Pngtree provides millions </p>

                </div>


                <div class="box-4_pic">


            </div>
        
        <div>

        </div>

        </div>



    <div class="box-5">
        <h1 class="text-font">Financial Wellness Plan</h1>
        <p class="text-font-title">includes</p>
        <div class="box-5_1">
            <div class="box-5_1_1">
                <h1  class="text-font">Cashflow Planning</h1>
                <p class="text-font-title___">Ensures a balance between enjoying one's present lifestyle and building a secure financial future through strategic budgeting.</p>
            </div>
            <div class="box-5_1_1">
                <h1 class="text-font">Cashflow Planning</h1>
                <p class="text-font-title___">Ensures a balance between enjoying one's present lifestyle and building a secure financial future through strategic budgeting.</p>
            </div>
            <div class="box-5_1_1">
                <h1  class="text-font">Cashflow Planning</h1>
                <p class="text-font-title___">Ensures a balance between enjoying one's present lifestyle and building a secure financial future through strategic budgeting.</p>
            </div>
            <div class="box-5_1_1">
                <h1  class="text-font">Cashflow Planning</h1>
                <p class="text-font-title___">Ensures a balance between enjoying one's present lifestyle and building a secure financial future through strategic budgeting.</p>
            </div>
            <div class="box-5_1_1">
                <h1  class="text-font">Cashflow Planning</h1>
                <p class="text-font-title___">Ensures a balance between enjoying one's present lifestyle and building a secure financial future through strategic budgeting.</p>
            </div>
            <div class="box-5_1_1">
                <h1 class="text-font">Cashflow Planning</h1>
                <p class="text-font-title___">Ensures a balance between enjoying one's present lifestyle and building a secure financial future through strategic budgeting.</p>
            </div>


        </div>

    </div>