<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet"  href="home.css">
    <script src="https://kit.fontawesome.com/f8293403a8.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>

    <title>project</title>
</head> 
<body>
        <div class="bg-container">

        <div class="bg-sub-container">
            <div class=box1-nav-items>
                <img class="nav-logo" src="https://res.cloudinary.com/djuqhfvux/image/upload/v1706567273/Screenshot__463_-removebg-preview_efi1tg.png" />
                <p class="nav-logo-text">VersaSphere</p>
            </div>

            <div class=box2-nav-items>
                <a href="file:///C:/Users/MAHESH/Desktop/viscual%20studio%20practice/project2/Page2-Menu.html" class="nav-icon-color"><div class="box2_1-nav-items"><i class="fa-solid fa-house nav-font-log"></i>
                <p>Home</p>
                </div></a>
                <a href="" class="nav-icon-color"><div class="box2_1-nav-items"><i class="fa-solid fa-mobile nav-font-log"></i>
                    <p>About</p>
                </div></a>
                <a href="" class="nav-icon-color"><div class="box2_1-nav-items"><i class="fa-solid fa-heart nav-font-log"></i>
                    <p>Contact Us</p>
                </div></a>
                <a href="" class="nav-icon-color"><div class="box2_1-nav-items"><i class="fa-regular fa-newspaper nav-font-log"></i>
                    <p>Help</p>
                </div></a>
                <a href="" class="nav-icon-color"><div class="box2_1-nav-items"><i class="fa-solid fa-user nav-font-log"></i></div></a>

            </div>


            <div class="bar nav-font-log">
                <nav id="nav_bar"><i id="bars_icon" class="fa-solid fa-bars"></i></nav>
            </div>


        <div class="home-page-portrait">
            


            <nav class="nav-bar-hide" id="nav-items">

                <div>
                    <p>Home</p>
                </div>
                <div>
                    <p>About</p>
                </div>
                <div>
                    <p>Contact Us</p>
                </div>
                <div>
                    <p>Help</p>
                </div>
                <div>
                    <p>Account</p>
                </div>
            </nav>

        </div>


        </div>



        <div class="home-page">
            <div class="home-page-box1">
                <h1 class="query-text-home-page">VersaSphere</h1>
                <p class="text-font-title">which includes</p>
                <p class="text-font">Investment, Liability, Tax, Insurance, Cashflow Planning and more</p>
                <a href=""  ><img class="image_1" src="https://res.cloudinary.com/djuqhfvux/image/upload/v1706997830/Starting_White_Transparent__Game_Start_Switch_Start_Title_Background__Game__Button__Switch_PNG_Image_For_Free_Download-removebg-preview_ghujz3.png"></a>
                <div class="home-page-box2">
                    <div class="home-page-box2_1">
                        <p>App Downloads</p>
                        <h1>96,000+</h1>

                    </div>
                    <div class="horizontal-line"></div>
                    <div class="home-page-box2_1">
                        <p>App Downloads</p>
                        <h1>96,000+</h1>

                    </div>
                </div>
            </div>
        </div>



        <div class="home-page-box3">
                <h1 class="query-text-home-page">VersaSphere Approach</h1>
                <p class="text-font-title">Guided by our qualified financial advisors, we offer a holistic perspective that covers all aspects of your personal finances.</p>

        </div>

                <div class="home-page-box3_1">
                    <div><a class="box3_1_sub" href=""><p class="box-content">Real-Estate</p></a></div>
                    <div><a class="box3_1_sub" href=""><p class="box-content">Loans</p></a></div>
                    <div><a class="box3_1_sub" href=""><p class="box-content">Insurances</p></a></div>
                    <div><a class="box3_1_sub" href=""><p class="box-content">Credit Cards</p></a></div>
                    <div><a class="box3_1_sub" href=""><p class="box-content">Farm to Door</p></a></div>
                    <div><a class="box3_1_sub" href=""><p class="box-content">Programming Taine</p></a></div>
                    <div><a class="box3_1_sub" href=""><p class="box-content">Tutorials</p></a></div>
                    <div><a class="box3_1_sub" href=""><p class="box-content">Self Drive Cars</p></a></div>
                    <div><a class="box3_1_sub" href=""><p class="box-content">Music & Decoration</p></a></div>
                    <div><a class="box3_1_sub" href=""><p class="box-content">Printed T-shirts</p></a></div>
                </div>

                <marquee class="marquee " loop="0" behavior="alternate" > | VersaSphere | | Loans |  | Insurances | | Credit Cards |  | Farm to Door | | Programming Taine |  | Tutorials | | Self Drive Cars |  | Music & Decoration | | Printed T-shirts | </marquee>



                <div>
                <h1 class="query-text-home-page">How is it?</h1>
                <p class="text-font-title">Assess, Analyse, Recommend</p>


                <div class="box-4">
                    <div class="box-4_pic2">

                    </div>

                        <div class="box-4_1">
                            <h1>Undstanding You</h1>
                            <p>Get your MoneySign® - A Patented Financial Personality Download this Game Start Switch Start Title Background, Game, Button, Switch PNG clipart image with transparent background for free. Pngtree provides millions </p>

                        </div>


                        <div class="box-4_pic">


                    </div>
                
                <div>

                </div>

                </div>



            <div class="box-5">
                <h1>Financial Wellness Plan</h1>
                <p>includes</p>
                <div class="box-5_1">
                    <div class="box-5_1_1">
                        <h1 style="font-size: 28px;">Cashflow Planning</h1>
                        <p>Ensures a balance between enjoying one's present lifestyle and building a secure financial future through strategic budgeting.</p>
                    </div>
                    <div class="box-5_1_1">
                        <h1 style="font-size: 28px;">Cashflow Planning</h1>
                        <p>Ensures a balance between enjoying one's present lifestyle and building a secure financial future through strategic budgeting.</p>
                    </div>
                    <div class="box-5_1_1">
                        <h1 style="font-size: 28px;">Cashflow Planning</h1>
                        <p>Ensures a balance between enjoying one's present lifestyle and building a secure financial future through strategic budgeting.</p>
                    </div>
                    <div class="box-5_1_1">
                        <h1 style="font-size: 28px;">Cashflow Planning</h1>
                        <p>Ensures a balance between enjoying one's present lifestyle and building a secure financial future through strategic budgeting.</p>
                    </div>
                    <div class="box-5_1_1">
                        <h1 style="font-size: 28px;">Cashflow Planning</h1>
                        <p>Ensures a balance between enjoying one's present lifestyle and building a secure financial future through strategic budgeting.</p>
                    </div>
                    <div class="box-5_1_1">
                        <h1 style="font-size: 28px;">Cashflow Planning</h1>
                        <p>Ensures a balance between enjoying one's present lifestyle and building a secure financial future through strategic budgeting.</p>
                    </div>


                </div>

            </div>

 


    </div>


        <div class="dscription-bottom">
            <div>
                <a href=""><i class="fa-brands fa-linkedin social-Media-icons"></i></a>
                <a href=""><i class="fa-brands fa-square-github social-Media-icons"></i></a>
                <a href=""><i class="fa-brands fa-square-instagram social-Media-icons"></i></a>
                <a href=""><i class="fa-brands fa-facebook social-Media-icons"></i></a>
            </div>
            <p>Copyright © 2024 No 1 service Provider.</p>

        </div>

</body>
</html>