
* {
    font-family: "  ";
    margin: 0px;

}


.bg-container {
    background-color: #f1f1f1;


}



@media(orientation:portrait) {
    .bg-sub-container {
        background-color: #000000;
        height: 170px;
        display: flex;
        justify-content: space-between; 

    }



    .box1-nav-items {
        color: white;
        display: flex;
        justify-content: center;
        align-items: center


    }

    .nav-logo {
        height: 136px;
        width: 146px;
        margin:15px ;
        margin-bottom:15px;

    }

    .nav-logo-text {
        font-size: 60px;
        margin-top: 18px;
    }


    .box2-nav-items {
        color: #ffffff;
        display: none;
        justify-content: center;
        align-items: center;
        margin: 20px;
        color: red;
    }

    .box2_1-nav-items {
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;

    }

    .nav-font-log {
        font-size: 20px;
        margin-bottom: 18px;
        margin-right: 5px;
        justify-content: flex-end;


    }

    .home-page {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 15px;
        text-align: center;
    }

    .home-page-box1 {
        display: flex;
        flex-direction: column;

    }


    .image_1{
        height:150px;
        width: 280px;

    }

    .home-page-box2 {
        display: flex;
        text-align: center;
        align-self: center;
        justify-content:center;
        background-color: #ffffff; 
        margin-top: 10px;
        font-size: 14px;
        box-shadow:10px 12px 15px;
        width: 600px;
        margin-bottom: 22px ;
        border-radius: 15px;
        height: 200px;


    }

    .home-page-box2_1{
        display: flex;
        flex-direction: column;
        text-align: center; 
        justify-content: center;
        margin: 10px  
        width: 50%; 


    }


    .horizontal-line{
        margin: 5px ;
        border-right:2px solid  #7c7c7c;
    }
    .home-page-box3 {
        display: flex;
        flex-direction: column;
        justify-content:center;
        text-align: center; 

    }


    .text-font-title{
        font-size:35px;
        font-weight: bold;
        color: #787878;
        text-align: center;
        justify-content: center;
        display: flex;

        align-self: center;
        text-align: center;
    }


    .text-font-title___{
        font-size:40px;
        font-weight: bold;
        color: #787878;
        

    }

    .text-font{
        margin: 10px;
        font-weight: bold;
        font-size:55px;
        text-align: center;


    }    

    .home-page-box3_1 {
        display: flex;
        justify-content:center;
        text-align: center;
        flex-wrap: wrap;


    }

    .box3_1_sub{
    
        text-decoration: none;
        color: black;
        display: flex;
        margin: 10px;
        padding: 20px;
        text-align: center;
        align-self: center;
        justify-content:center;
        background-color: #ffffff;
        margin-top: 10px;
        box-shadow:10px 12px 15px black;
        flex-wrap: wrap;
        height: 130px;
        width: 170px;
        border-radius: 15px;

        border-style: solid;
        border-left-width:8px;
        border-left-color: black;
        border-top: none;   
        border-bottom: none;
        border-right: none;
    }

    .menu-box1{
        box-sizing: content-box  ;
        background-color:;
        border-radius:10px;
        padding:5px;
        font-size: 24px;
        margin:10px;
        border-style: 16px solid;
        border-left-width:18px;
        border-left-color: black;
        border-top: none;   
        border-bottom: none;
        border-right: none;
        height: 45px;
        color: black;
    }

    .box3_p{
        text-align: center;
        background-color:   ;
        text-decoration: none;
        color: black;
        padding: 10px;
        text-align: center;
        align-self: center;
        justify-content:center;
        flex-wrap: wrap;

    }

    .box-content{
        font-size: 20px;
        padding: 2px;
        padding-top: 22px;
        text-align: center;
        font-family: "Trebuchet MS";
        color: black;
    }

    .marquee{
        background-color: #b9ecec;
        margin-top: 35px;
        color: #048f8f;
        font-size: 45px;
    }


    .box-4{
        display: flex;
        justify-content: center;

    }

    .box-4_1_horizontal{
        margin: 5px ;
        border-right:2px solid  #7c7c7c;
    }

    .box-4_1{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin:10px;
    }

    .center{
        text-align: center;
    }


    .box-4_pic{
        background-image:url("https://res.cloudinary.com/djuqhfvux/image/upload/v1706578909/download-removebg-preview_jtlsu9.png");
        height: 372px;
        background-size:280px;
        width: 152px;
        margin-top: 10px;
        display: none;

    }

    .box-4_pic2{
        background-image:url("https://res.cloudinary.com/djuqhfvux/image/upload/v1707006702/VOLKSWAGEN_-_BRADOK___3D__1_-removebg-preview_ye7cef.png");
        height: 242px;
        background-size:126px;
        width: 130px;
        margin-bottom:18px;
        padding: 5px;
        display: none;
    }

    .box-5{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;

    }

    .box-5_1{
        display: flex;

        flex-wrap: wrap;
        justify-content: center;

        font-size: 15px;
    }

    .box-5_1_1{
        display: flex;
        flex-direction: column;
        width: 400px;
        margin: 15px;
        text-align: left;
    }




    .home-page-Query-logo {
        height: 200px;
        box-shadow: 10px 10px 5px;

    }

    .query-text-home-page {
        margin-bottom:10px;
        font-weight:bold;    
        text-align: center; 
        font-size:50px; 
        margin:15px;
    }

    .home-page-logo {
        height: 400px;
        width: 250px;
    }

    

    .bar {
        font-size: 80px;
        color: #ffffff;
        justify-content:flex-end;
        align-self: flex-end;
        margin-left:220px;        
    }

    .main-nav-bar {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-self: flex-start;

        color: white;
        background-color: #000000;
        height: 500px;
        width: 300px;
        flex-shrink: 3;
        text-align: center;




    }

    .nav-bar-hide {
        display: none;

    }

    .hr {
        color: white;
        font-size: 20px;
        border-width: 2px;
        background-color: white;
    }

    .home-page-portrait {
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
        margin:10px ;
        height: 600px;
    }

    .home-page-logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-self: center;
        text-align: center;
    }


    .home-logo-portrait {
        height: 300px;
        width: 250px;
    }

    .dscription-bottom{
        height: 200px;
        background-color:#000000;
        text-align: center;
        color: #a4a4a4;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size:35px;
    }

    .social-Media-icons{
        font-size:65px;
        color: #a4a4a4;
        margin: 10px;
    }

}






@media(orientation:landscape) {
    .bg-sub-container {
        background-color: #000000;
        height: 80px;
        display: flex;
        justify-content: space-between;
    }

    .box1-nav-items {
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .nav-logo {
        height: 78px;
        width: 78px;
        padding: 5px;
        margin-bottom: 3px;
    }

    .nav-logo-text {
        font-size: 28px ;
        margin-top: 20px ;
        font-family: Cursive;
    }

    .nav-icon-color{
        color: #ffffff;
        text-decoration:none;
    }

    .box2-nav-items {
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 15px;


    }

    .box2_1-nav-items {
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
        margin-top: 26px;

    }

    .nav-font-log {
        font-size: 20px;
        margin-bottom: 18px;
        margin-right: 5px;


    }

    .home-page {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-top: 15px;
        }

    .home-page-box1 {
        display: flex;
        flex-direction: column;

    }
    .image_1{
        height:80px;
        width: 260px;
        margin: 10px    ;

    }

    .query-text-home-page {
        text-align: center;
        margin-top: 40px;
        font-weight:bold;
    }
    .home-page-box2 {
        display: flex;
        text-align: center;
        justify-content: safe center;
        background-color: #ffffff;
        margin-top: 10px;
        width: 50%;
        align-self: center;
        border-radius: 15px;
        box-shadow:10px 12px 15px;

    }

    .home-page-box2_1{
        display: flex;
        flex-direction: column;
        text-align: center; 
        margin: 10px    

    }


    .horizontal-line{
        margin: 5px ;
        border-right:2px solid  #7c7c7c;
    }
    .home-page-box3 {
        display: flex;
        flex-direction: column;
        justify-content:center;
        text-align: center; 

    }


    .text-font-title{
        font-size:20px;
        font-weight: bold;
        color: #787878;
        text-align: center;
    }

    .text-font{
        font-weight:bold;
        font-size: 26px;

    }    

    .home-page-box3_1 {
        display: flex;
        justify-content:center;
        text-align:center;
        flex-wrap:wrap;

    }

    .box3_1_sub{
        border-radius: 15px ;
        text-decoration: none;
        color: black;
        display: flex;
        margin: 10px;
        padding: 20px;
        text-align: center;
        align-self: center;
        justify-content:center;
        background-color: #ffffff;
        margin-top: 10px;
        box-shadow:10px 12px 15px black;
        flex-wrap: wrap;
        height: 130px;
        width: 170px;
        font-size: 24px;

        border-style: solid;
        border-left-width:8px;
        border-left-color: black;
        border-top: none;   
        border-bottom: none;
        border-right: none;

    }

    .box3_p{
        text-align: center;
        background-color:   ;
        text-decoration: none;
        color: black;
        padding: 10px;
        text-align: center;
        align-self: center;
        justify-content:center;
        flex-wrap: wrap;

    }



    .box-content{
        font-size: 24px;
        padding: 2px;
        padding-top: 22px;
        text-align: center;
        font-family: "Trebuchet MS";
        color: black;

    }

    .marquee{
        background-color: #b9ecec;
        margin-top: 35px;
        color: #048f8f;
        font-size: 24px ;
    }


    .box-4{
        display: flex;
        justify-content: center;
    }

    .box-4_1_horizontal{
        margin: 5px ;
        border-right:2px solid  #7c7c7c;
    }

    .box-4_1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center  ;
        width:400px;
    }


    .box-4_pic{
        background-image:url("https://res.cloudinary.com/djuqhfvux/image/upload/v1706578909/download-removebg-preview_jtlsu9.png");
        height: 372px;
        background-size:280px;
        width: 152px;
        margin-top: 10px;

    }

    .box-4_pic2{
        background-image:url("https://res.cloudinary.com/djuqhfvux/image/upload/v1707001314/download-removebg-preview_vw44rn.png");
        height: 372px;
        background-size:146px;
        width: 152px;
        margin-bottom:18px;
        padding: 5px;
    }

    .box-5{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;

    }

    .box-5_1{
        display: flex;

        flex-wrap: wrap;
      justify-content: center;
        text-align: center;
        align-items: center;

        text-align: left;
        font-size: 15px;
    }

    .box-5_1_1{
        display: flex;
        flex-direction:column;
        width: 400px;
        margin: 20px;
    }

    .text-font-title___{
        font-size:20px;
        font-weight: bold;
        color: #787878;
        

    }





    .home-page-Query-logo {
        height: 200px;

    }

    .query-text-home-page {
        margin-bottom:10px;
        font-family: "Cursive";
        font-weight: bold;    
        text-align: center; 
        font-size:50px; 
        margin:15px;
    }


    .home-page-logo {
        height: 400px;
        width: 250px;

    }

    
    .bar {
        display: none;
    }


    .nav-bar {
        display: none;
    }

    .home-page-portrait {
        display: none;
    }

    .dscription-bottom{
        height: 200px;
        background-color:#000000;
        text-align: center;
        color: #a4a4a4;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .social-Media-icons{
        font-size:40px;
        color: #a4a4a4;
        margin: 10px        ;
    }

    .description-text{
        font-size:16px;
    }

}